/*
  Color de fondo: hsl(185, 75%, 39%)
  Color del texto gris: hsl(227, 10%, 46%)
 */

 *, *:before, *:after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  
}

body {
  background-color: hsl(185, 75%, 39%);
  font-family: sans-serif;
  overflow: hidden;
  font-size: 1.3 rem;
}

.bg-imagen {
  position:absolute;
  width: 25%;
  height: auto;
}

.bg-imagen--top {
  top: 0;
  left:0;
}

.bg-imagen--bottom {
  bottom: 0;
  right:0;
}

.card {
  position: relative;
  top: 30vh;
  width: 400px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
}

.card__header {
  position: relative;
  height: 120px;
  text-align: center;
}

.card__header-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.card__header-profile {
  position: absolute;
  top: 135px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border:5px solid #fff;
  background-color: #fff;
}

.card__body {
  position: absolute;
  top: 200px;
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 1.5rem;
  border-bottom: 2px solid rgb(0 0 0 /0.1); 
}

.card__text {
  margin-bottom: 0.5em;
}

.card__text--light {
  color:hsl(227, 10%, 46%);
}

.card__footer {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
}

.card__stats {
  display: inline-block;
  margin: 0 0.5rem;
  width: 100px;
  text-align: center;
}

.card__number {
  margin-bottom: 5em;
  font-size: 1.8rem;
}

